* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    background: white;
}

nav {
    background: #343a40;
    border-bottom: 1px solid #495057;
    padding-left: 1rem;
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#title {
    text-decoration: none;
    font-weight: 200;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#title:hover {
    font-weight: 900;
    color: white;
}

#date {
    color: white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 0;
    margin-left: auto;
    padding-right: 15px;
}

#continue {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 900;
    margin-right: 5px;
}

#content {
    margin: 10px;
    display: flex;
}

.panel {
    border: 2px solid black;
    margin-left: 15px;
    margin-right: 15px;
}

.panel-header {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
}